<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="browser" value="chrome"/>
  <parameter name="localhost" value="true"/>
  <test name="SignIN(failed)">
    <groups>
      <run>
        <include name="signIn"/>
      </run>
    </groups>
    <classes>
      <class name="com.gtech.suite.BeforeAppEx">
        <methods>
          <include name="beforeSuite"/>
          <include name="afterSuite"/>
        </methods>
      </class> <!-- com.gtech.suite.BeforeAppEx -->
      <class name="com.gtech.portal.testcase.Portal">
        <methods>
          <include name="p_Combinations_step1_reg" invocation-numbers="8"/>
        </methods>
      </class> <!-- com.gtech.portal.testcase.Portal2 -->
    </classes>
  </test> <!-- SignIN(failed) -->
</suite> <!-- Failed suite [Suite] -->
